<div id="<%= dom_id task %>">
  <p>
    <strong>Name:</strong>
    <%= task.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= case task.status
        when 0
          "Incomplete"
        when 1
          "Complete"
        else
          "Unknown Status"
        end %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= task.category.name if task.category %>
  </p>
  
</div>
